.text-style,
.text-style-insidecard {
    color: white;

    /* color: #7c872c; */
    /* font-family: "Passion One", sans-serif; */
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 2.377882957458496;
    -webkit-text-stroke-color: #000;
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 8.656px;
}

/* Add a media query to apply styles only on screens with a maximum width of 640px (adjust as needed) */
/* Add a media query to apply styles only on screens with a maximum width of 640px (adjust as needed) */





.card1 {
    padding: 60px 40px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0.367px solid #fb0707;

    background: linear-gradient(180deg, rgba(251, 23, 7, 0.6) 0%, rgba(136, 33, 33, 0.7) 42.58%, rgba(32, 2, 2, 0.2) 60%);

    box-shadow: -7px 8px 20px -0.367px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(3.6708710193634033px);
}



.card2 {
    padding: 60px 40px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0.367px solid #FBD007;

    background: linear-gradient(180deg, rgba(251, 227, 7, 0.6) 0%, rgba(183, 174, 2, 0.7) 42.58%, rgba(50, 61, 19, 0.2) 60%);

    box-shadow: -7px 8px 20px -0.367px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(3.6708710193634033px);
}

.domain1{
    border: 1.5px solid #070bfb;
}
.domain2{
    border: 1.5px solid #FBD007;
}
.domain3{
    border: 1.5px solid#fb0707;
}
.card3 {
    padding: 60px 40px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0.367px solid #070bfb;

    background: linear-gradient(180deg, rgba(10, 13, 223, 0.6) 0%, rgba(5, 0, 102, 0.3) 42.58%, rgba(32, 2, 2, 0.2) 60%);

    box-shadow: -7px 8px 20px -0.367px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(3.6708710193634033px);
}

.domaincard1 {
    padding: 30px 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0.367px solid #01580b;

    background: linear-gradient(180deg, rgba(20, 90, 0, 0.6) 0%, rgba(16, 155, 3, 0.7) 42.58%, rgba(4, 57, 9, 0.2) 80%);

    box-shadow: -7px 8px 20px -0.367px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(3.6708710193634033px);
}

.domaincard2 {
    padding: 30px 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0.367px solid #0d0461;

    background: linear-gradient(180deg, rgba(10, 5, 82, 0.6) 0%, rgba(4, 8, 114, 0.7) 42.58%, rgba(10, 5, 77, 0.2) 80%);

    box-shadow: -7px 8px 20px -0.367px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(3.6708710193634033px);
}

.domaincard3 {
    padding: 30px 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0.367px solid #ba079f;

    background: linear-gradient(180deg, rgba(251, 23, 7, 0.6) 0%, rgba(136, 33, 33, 0.7) 42.58%, rgba(32, 2, 2, 0.2) 80%);

    box-shadow: -7px 8px 20px -0.367px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(3.6708710193634033px);
}

.domaincard4 {
    padding: 30px 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0.367px solid #6d085e;

    background: linear-gradient(180deg, rgba(198, 42, 130, 0.6) 0%, rgba(112, 17, 94, 0.7) 42.58%, rgba(45, 6, 35, 0.2) 80%);

    box-shadow: -7px 8px 20px -0.367px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(3.6708710193634033px);
}

.domaincard5 {
    padding: 30px 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 0.367px solid #FBD007;

    background: linear-gradient(180deg, rgba(251, 227, 7, 0.6) 0%, rgba(183, 174, 2, 0.7) 42.58%, rgba(50, 61, 19, 0.2) 80%);

    box-shadow: -7px 8px 20px -0.367px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(3.6708710193634033px);
}



/* li {
    list-style-type: circle;
    text-align: center;
    font-family: "Chakra Petch";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
} */